<div class="card" style="width: 35.2rem;">
  <iframe width="560" height="315" src="<%= projet.youtube %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample">
    Informations &darr;
  </button>
  <div class="collapse" id="collapseExample">
    <h5 class="card-title"><%= projet.name %></h5>
    <p class="card-text"><%= projet.description %></p>
    <a href="<%= projet.site %>" target = "_blank"  style="text-decoration: none;" class="btn btn-primary">site de l'événement</a>
</div>
</div>
