<h1>Contact</h1>
<p>adresse :</p>
<p>e-mail :</p>
<p>téléphone :</p>
<%= link_to "en savoir plus sur l'équipe Huisclos ?", quisommesnous_path %>
<%= link_to "nous écrire ?", "http://huisclosbdx.herokuapp.com/demande-videos" %>
