<p>" Si notre travail vous intéresse et que vous voudriez travailler avec nous pour la réalisation d'un
projet vidéo, vous pouvez nous écrire un mail pour faire votre demande juste ci-dessous. Veuillez
nous donner un maximum d'information dans un premier temps, nous vous contacterons par la
suite pour la suite de la production.
Amicalement, l'équipe Huis Clos"</p>


