
<p>" Huis Clos est une association crée en mai 2019 composé d'une bande d'amis de 7 vidéastes et 1
monteur tous issu de la même école audiovisuelle à Bordeaux. Portant tous un intérêt fort pour
l'art, la musique et ainsi des événements associés, lié au milieu de la nuit. Nous avons commencé
ce projet ensemble par la réalisation d'aftermovies de soirées électroniques mais nous nous
sommes rendu compte rapidement que beaucoup d'autres format de vidéos lié à ce secteur
d'activité étaient réalisables en vue de nos compétences cinématographiques et nous intéressaient
davantage. La richesse de Huis clos est premièrement basé sur la forte cohésion entre les membres
et l'habitude que nous avons de travailler ensemble sur divers projets, mais aussi sur les intérêts
particuliers de chacun dans plusieurs domaines d'exercices différents, par exemple les sports
extremes, le surf, la mer, la nature, la musique, etc."</p>

<div class="membres">
<% @members.each do |member| %>
      <%= render 'shared/member_card', member: member %>
      <% end %>
</div>
