<h1>Liste de tous tes projets</h1>
<h2>Clic sur celui que tu veux modifier ou supprimer!</h2>
<ul>
<% @projets.each do |projet| %>
<li>Projet: <%= link_to projet.name, project_path(projet) %>  Sous-catégorie: <%= projet.souscategory.name %> Catégorie:  <%= projet.souscategory.category.name %></li>
<% end %>
</ul>
