<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h4 class="modal-title" id="myModalLabel">Ajouter la catégorie</h4>
</div>
<div class="modal-body">
  <%= simple_form_for([@categorie]) do |f| %>
            <%= f.input :name, as: :string, label: "Nom de la catégorie", input_html: { autocomplete: 'off' }, required: true %>
            <%= f.submit "Ajouter la catégorie", class: "btn btn-primary" %>
  <% end %>
</div>
